body {
  background-color: aqua;
  font-family: verdana;
}
h1 {
    font-size: 300%;
    font-family: cursive;
    color: #FF0000   
}
p {
    font-family: 'Courier New', Courier, monospace;
}